NEXT_PUBLIC_API_URL=https://api.briaexchange.com
NEXT_PUBLIC_APP_URL=https://verify.briaexchange.com
NEXTAUTH_URL=https://verify.briaexchange.com
NEXTAUTH_SECRET=changeme
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
